<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>Template for Architecure component</string>
	<key>Identifier</key>
	<string>com.yourdomain.architecturetemplate</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module:</string>
			<key>Description</key>
			<string>The name of Node</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>Empty</string>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<dict>
			<key>Group</key>
			<string>___FILEBASENAME___</string>
			<key>Path</key>
			<string>___FILEBASENAME___</string>
			<key>Nodes</key>
			<array>
				<dict>
					<key>Path</key>
					<string>Presentation</string>
					<key>Group</key>
					<string>Presentation</string>
					<key>Nodes</key>
					<array>
						<dict>
							<key>Path</key>
							<string>___FILEBASENAME___View.swift</string>
							<key>Group</key>
							<string>Source</string>
							<key>Target</key>
							<string>___FILEBASENAME___View.swift</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Group</key>
					<string>Interaction</string>
					<key>Path</key>
					<string>Interaction</string>
					<key>Nodes</key>
					<array>
						<dict>
							<key>Path</key>
							<string>___FILEBASENAME___State.swift</string>
							<key>Group</key>
							<string>Source</string>
							<key>Target</key>
							<string>___FILEBASENAME___State.swift</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>___FILEBASENAME___Action.swift</string>
							<key>Group</key>
							<string>Source</string>
							<key>Target</key>
							<string>___FILEBASENAME___Action.swift</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>___FILEBASENAME___Event.swift</string>
							<key>Group</key>
							<string>Source</string>
							<key>Target</key>
							<string>___FILEBASENAME___Event.swift</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>___FILEBASENAME___Presenter.swift</string>
							<key>Group</key>
							<string>Source</string>
							<key>Target</key>
							<string>___FILEBASENAME___Presenter.swift</string>
						</dict>
						<dict>
							<key>Path</key>
							<string>___FILEBASENAME___Reducer.swift</string>
							<key>Group</key>
							<string>Source</string>
							<key>Target</key>
							<string>___FILEBASENAME___Reducer.swift</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
